$wine-red: #962013;
$vibrant-red: #C0392B;

.canvas {
    height: 100%;
    position: relative;
    background: $wine-red;
}
.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #962013;
    .aboutRow {
        max-width: 800px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 250px;
            border-radius: 100%;
        }
        .content {
            color: white;
            line-height: 2em;
            position: relative;
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .sectionTitle {
            border-right: 1px solid white;
            text-align: center;
            @media only screen and (max-width: 760px) {
                border: none;
            }
        }
        @media only screen and (max-width: 760px) {
            flex-direction: column;
        }
    }
}
